@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* Update the background property with the custom image */
  background-image: url("/general-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  width: 12%; /* Adjust the width of the Navbar as per your requirements */
}

.main-content {
  flex: 1; /* This will make the main content occupy the remaining space */
}
